.draggable {
      width: 200px;
      height: 200px;
      padding: 0.5em;
      float: left;
      margin: 0 10px 10px 0;
      cursor:move;
      background-color: red;
  }
  .draggable, a {
      cursor:move;
  }
  #draggable, #draggable2 {
      margin-bottom:20px;
      cursor:move;
  }
  #draggable {
      cursor: move;
  }
  #draggable2 {
      cursor: e-resize;
  }
  #containment-wrapper {
      width: 800px;
      height:800px;
      border:2px solid #ccc;
      padding: 10px;
  }
  h3 {
      clear: left;
  }
