.draggable {
      /*width: 200px;
      height: 200px;
      padding: 0.5em;

      margin: 0 10px 10px 0;*/
      cursor:move;
      /*background-color: red;*/
        float: left;
  }
  .draggable, a {
      cursor:move;
  }
  #draggable, #draggable2 {
      margin-bottom:20px;
      cursor:move;
  }
  #draggable {
      cursor: move;
  }
  #draggable2 {
      cursor: e-resize;
  }
  #containment-wrapper {
      width: 800px;
      height:800px;
      border:2px solid #ccc;
      marign: 0;
      padding: 0;
  }
  h3 {
      clear: left;
  }
