.draggable {
      /*width: 200px;
      height: 200px;
      padding: 0.5em;

      margin: 0 10px 10px 0;*/
      cursor:move;
      /*background-color: red;*/
        float: left;
        margin-left:8 !important;
  }
  .draggable, a {
      cursor:move;
  }
  #draggable, #draggable2 {
      cursor:move;
      margin: 0;
  }
  #draggable {
      cursor: move;
  }
  #draggable2 {
      cursor: e-resize;
  }
  #containment-wrapper {
      width: 800px;
      height:800px;
      border:2px solid #ccc;
      margin: 0 !important;
      padding: 0 !important;
  }
  h3 {
      clear: left;
  }
.space{
  border: 3px dashed !important;
  border-color: #f1f1f1 !important;
  cursor:move;
  background-color: #fafafa;
  height: 140px;
  width:235px;
  color: #f1f1f1;
  padding-top: 35px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 15px;
}
